* {
    padding: 0;
    margin: 0;

}

body {
    display: block;
    width: auto;
    height: auto;
}

li {
    list-style: none;     /* прибирає кружечки / цифри */
    padding: 0;           /* прибирає внутрішній відступ */
    margin: 0;            /* прибирає зовнішній відступ */
}
